*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 10px;
    display: flex;
    gap: 400px;
    justify-content: center;
}

.header-left{
    display: flex;
    gap: 40px;
}

.header-right{
    display: flex;
    justify-content:flex-end;
    gap: 50px;
    text-align: end;
}

.search-bar input{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(206, 203, 203);
}

.place-opt select{
    border: none;
    outline: none;
}

.sign-in button{
    width: 60px;
    height: 25px;
    background-color: rgb(253, 83, 83);
    color: white;
    border: none;
    border-radius: 5px;
}
