*{
    margin: 0;
    padding: 0;
}

.header{
    padding-top: 50px;
    display: flex;
    gap: 400px;
    justify-content: center;
}

.header-left{
    display: flex;
    gap: 40px;
}

.header-right{
    display: flex;
    justify-content:flex-end;
    gap: 50px;
    text-align: end;
}

.search-bar input{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(206, 203, 203);
}
